[Unit]
Description=homerun - dynamic DNS daemon for Cloudflare

[Service]
Type=simple
WorkingDirectory=/home/ocanty/projects/homerun/
ExecStart=python3 homerun.py
ExecStop=pkill -f 'python3 homerun.py'

[Install]
WantedBy=multi-user.target